//підключення модулів через дерективу @use
// @use "../utils/mixin";
// @use "../utils/veriables" as v;

//підключення через дерективу @forward для множиних імпортов. Збирає всі імпорти
@use "../utils/styles-forwarded" as fwrd ;

.badge{
  @include fwrd.badge-base();//підключення mixin може бути як через @use так і через @forward для скорочення запису викоритовуємо as v(veribles) якщо @forward тоді as fwrd
  
  // color:v.$badge-c1;
 }
.badge-completed{
  background-color: fwrd.$completed;// значення колярів заменяємо на назви з файлу variables.scss
}
.badge-ended{
  background-color:fwrd.$ended;
}
.badge-active{
  background-color:fwrd.$active;
}